<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list App</title>
</head>

<body>
    <ul>
        <!-- Script tag is used to make use of html in js -->
        <% for( i=0;i<newlistitems.length;i++) { %>
            <li>
                <%=newlistitems[i].name%>
            </li>
            <% } %>
                <form action="/" method="post">
                    <input type="text" name="n" autocomplete="off" id="">
                    <button type="submit">Add New </button>
                </form>
    </ul>
</body>

</html>